@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
@{ }
<a href="~/" class="b-brand">
    <div class="b-bg">
        <i class="fas fa-cubes"></i>
    </div>
    <span class="b-title">@BrandingProvider.AppName</span>
</a>
