@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.Employee.HelpModel
@{
    Layout = null;
}
<abp-modal>
    <abp-modal-header title="About Employee"></abp-modal-header>
    <abp-modal-body>
        <abp-container>
            <h3>Employee</h3>
            <p>
                Employee is a person employed for wages or salary, especially at nonexecutive level.
            </p>
            <p>
                This module provide feature to manage employees data.
            </p>
            <h4>Toolbar Actions</h4>
            <ul>
                <li><b>Help</b>. Show help guidance modal screen.</li>
                <li><b>Excel Export</b>. Export the data on grid to excel.</li>
                <li><b>Search Box</b>. Search the data on grid.</li>
                <li><b>Add</b>. Show modal screen to add new data.</li>
                <li><b>Edit</b>. Show modal screen to update selected data.</li>
                <li><b>Delete</b>. Show modal screen to delete selected data. Data that already used on transaction can not deleted.</li>
            </ul>
            <h4>Columns</h4>
            <ul>
                <li><b>Name</b>. Employee name.</li>
                <li><b>Employee ID #</b>. Employee identification number.</li>
                <li><b>Street</b>. Employee street address location.</li>
                <li><b>City</b>. Employee city address location.</li>
                <li><b>State</b>. Employee state address location.</li>
                <li><b>ZipCode</b>. Employee zipcode / postal code.</li>
                <li><b>Position</b>. Employee position.</li>
                <li><b>Department</b>. Employee department.</li>
                <li><b>Employee Group</b>. Employee original group: Sales or Buyer.</li>
            </ul>
        </abp-container>
    </abp-modal-body>
    <abp-modal-footer>
        <button class="btn-secondary btn" data-dismiss="modal" type="button">Close</button>
    </abp-modal-footer>
</abp-modal>