@page

@model Indo.Web.Pages.Note.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Menu:CustomerManagementTransactionNote"];
}
@section styles{
    <abp-style src="/Pages/Note/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/Note/Index.js" />
}
<div class="row">
    <div class="col-12">
        @(await Component.InvokeAsync<SpinnerViewComponent>())
        <div id="Grid"></div>
    </div>
</div>