@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.CashAndBank.HelpModel
@{
    Layout = null;
}
<abp-modal>
    <abp-modal-header title="About Cash And Bank"></abp-modal-header>
    <abp-modal-body>
        <abp-container>
            <h3>Cash And Bank</h3>
            <p>
                Cash And Bank are medium to store money for income or as a source to take money for expense. Cash and bank will be used as payment method for payment.
            </p>
            <p>
                This module provide feature to manage cash and banks data.
            </p>
            <h4>Toolbar Actions</h4>
            <ul>
                <li><b>Help</b>. Show help guidance modal screen.</li>
                <li><b>Excel Export</b>. Export the data on grid to excel.</li>
                <li><b>Search Box</b>. Search the data on grid.</li>
                <li><b>Add</b>. Show modal screen to add new data.</li>
                <li><b>Edit</b>. Show modal screen to update selected data.</li>
                <li><b>Delete</b>. Show modal screen to delete selected data. Data that already used on transaction can not deleted.</li>
            </ul>
            <h4>Columns</h4>
            <ul>
                <li><b>Name</b>. Name of cash and bank. For bank can be used with bank name and account number combination.</li>
                <li><b>Description</b>. Additional information regarding the cash and bank.</li>
            </ul>
        </abp-container>
    </abp-modal-body>
    <abp-modal-footer>
        <button class="btn-secondary btn" data-dismiss="modal" type="button">Close</button>
    </abp-modal-footer>
</abp-modal>