@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.ProjectOrder.UpdateDetailModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    Layout = null;
}
<form asp-page="/ProjectOrder/UpdateDetail">
    <abp-modal>
        <abp-modal-header title="@l["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-container>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="ProjectOrderDetail.Id"></abp-input>
                        <abp-select asp-for="ProjectOrderDetail.ProjectOrderId"></abp-select>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="ProjectOrderDetail.ProjectTask"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="ProjectOrderDetail.Price"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="ProjectOrderDetail.Quantity"></abp-input>
                    </abp-column>
                </abp-row>
            </abp-container>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn-secondary btn" data-dismiss="modal" type="button">@l["Button:Cancel"]</button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="submit" disabled="@(Model.Status != Indo.ProjectOrders.ProjectOrderStatus.Draft)"><i class="fa-check fa"></i> <span>@l["Button:Save"]</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>