<abp-card>
    <abp-card-header>
        <abp-card-title>
            Credit Note
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <abp-container>
            <abp-row>
                <abp-column>
                    <div id="GridCustomerCreditNote"></div>
                </abp-column>
            </abp-row>
        </abp-container>
    </abp-card-body>
</abp-card>