<abp-card>
    <abp-card-header>
        <abp-card-title>
            File Manager
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="filemanager"></div>
    </abp-card-body>
</abp-card>