@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.VendorBill.CreateDetailModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    Layout = null;
}
<form asp-page="/VendorBill/CreateDetail">
    <abp-modal>
        <abp-modal-header title="@l["New"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-container>
                <abp-row>
                    <abp-column>
                        <abp-select asp-for="VendorBillDetail.VendorBillId"></abp-select>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="VendorBillDetail.ProductName"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-select asp-for="VendorBillDetail.UomId"></abp-select>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="VendorBillDetail.Price"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="VendorBillDetail.Quantity"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="VendorBillDetail.TaxRate"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="VendorBillDetail.DiscAmt"></abp-input>
                    </abp-column>
                </abp-row>
            </abp-container>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn-secondary btn" data-dismiss="modal" type="button">@l["Button:Cancel"]</button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="submit"><i class="fa-check fa"></i> <span>@l["Button:Save"]</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>