@page
@model Indo.Web.Pages.Lead.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Menu:CustomerManagementTransactionLead"];
}
@section styles{
    <abp-style src="/Pages/Lead/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/Lead/Index.js" />
}
<div class="row">
    <div class="col-12">
        <div id="toolbar"></div>
        <div id="Kanban"></div>
    </div>
</div>
<script id="cardTemplate" type="text/x-template">
    <div class='card-template'>
        <div class='e-card-header'>
            <div class='e-card-header-caption'>
                <div class='e-card-header-title e-tooltip-text'>${name}</div>
            </div>
        </div>
        <div class='e-card-content e-tooltip-text'>
            <div class='e-text'>${street}</div>
            <div class='e-text'>${phone} ${email}</div>
        </div>
        <div class='e-card-custom-footer'>
        </div>
    </div>
</script>