@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.CustomerInvoice.HelpModel
@{
    Layout = null;
}
<abp-modal>
    <abp-modal-header title="About Customer Invoice"></abp-modal-header>
    <abp-modal-body>
        <abp-container>
            <h3>Customer Invoice</h3>
            <p>
                Customer invoice is a commercial document issued by seller to buyer relating to a sales transaction. It contains instruction  how to paid the invoice and have due date (The payment should be done before the due date).
            </p>
            <p>
                This module provide feature to manage customer invoice.
            </p>
            <h4>Document Status</h4>
            <ul>
                <li><b>Draft</b>.</li> Default status for the newly created transaction. Transaction can be update and deleted.
                <li><b>Confirm</b>.</li> Next status above Draft which is used for confirmed transaction. Transaction can not updated and can not deleted.
                <li><b>Cancelled</b>.</li> Default status for cancelled transaction. Only confirmed transaction can be cancelled. Transaction can not updated and can not deleted.
            </ul>
            <h4>Toolbar Actions</h4>
            <ul>
                <li><b>Help</b>. Show help guidance modal screen.</li>
                <li><b>Excel Export</b>. Export the data on grid to excel.</li>
                <li><b>Search Box</b>. Search the data on grid.</li>
                <li><b>Add</b>. Show modal screen to add new data, but its disabled. The invoice should be generated from related sales transaction.</li>
                <li><b>Edit</b>. Show modal screen to update selected data. Only active for draft transaction.</li>
                <li><b>Delete</b>. Show confirmation dialog to delete selected data. Only active for draft transaction.</li>
                <li><b>Details</b>. Navigate to detail view page for selected data.</li>
                <li><b>Confirm Invoice</b>. Show confirmation dialog to confirm selected data. Only active for draft transaction.</li>
                <li><b>Credit Note</b>. Show confirmation dialog to credit note selected data. Only active for confirm transaction.</li>
            </ul>
            <h4>Columns</h4>
            <ul>
                <li><b>Number</b>. Autogenerate specific number sequence based on module.</li>
                <li><b>Description</b>. Record additional description about the order.</li>
                <li><b>Term and Condition</b>. Describe the invoice term and condition.</li>
                <li><b>Payment Note</b>. Describe the payment instruction for the invoice.</li>
                <li><b>Customer</b>. Lookup to customer who order.</li>
                <li><b>Invoice Date</b>. Date of invoice.</li>
                <li><b>Invoice Due Date</b>. Date of invoice is due. The payment should be done before the due date.</li>
            </ul>
            <h3>Customer Invoice Detail</h3>
            <p>
                customer invoice detail is a page that show detail view of the invoice. This page provide feature to manage invoice items. Only draft transaction can be manage for addition, update and deletion.
            </p>
            <h4>Button Actions</h4>
            <ul>
                <li><b>Plus New Button</b>. Show modal screen to add new data.</li>
                <li><b>List Button</b>. Navigate back to main grid data.</li>
                <li><b>Print Button</b>. Navigate to windows print option (save as pdf, or print the detail view).</li>
            </ul>
            <h4>Toolbar Actions</h4>
            <li><b>Edit</b>. Show modal screen to update selected data. Only active for draft transaction.</li>
            <li><b>Delete</b>. Show confirmation dialog to delete selected data. Only active for draft transaction.</li>
            <h4>Columns</h4>
            <ul>
                <li><b>Product Name</b>. Name of invoice item.</li>
                <li><b>Price</b>. Unit price of the invoice item.</li>
                <li><b>Quantity</b>. Quantity of the invoice item.</li>
                <li><b>Uom</b>. Unit of measure of the invoice item.</li>
                <li><b>Sub Total</b>. Sub Total amount that follow the equation: Price * Quantity</li>
                <li><b>Discount Amount</b>. Amount of discount given for the item.</li>
                <li><b>Before Tax</b>. Before Tax amount that follow the equation: Sub Total - Disc Amount</li>
                <li><b>Tax Amount</b>. Tax amount that follow the equation: Tax Rate * Before Tax Amount</li>
                <li><b>Total</b>. Total amount that follow the equation: Before Tax Amount + Tax Amount</li>
            </ul>
        </abp-container>
    </abp-modal-body>
    <abp-modal-footer>
        <button class="btn-secondary btn" data-dismiss="modal" type="button">Close</button>
    </abp-modal-footer>
</abp-modal>