@page
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@model Indo.Web.Pages.CustomerInvoice.PaymentLookupModel
@{ 
    Layout = null;
}
@section styles
{
}
@section scripts
{
}
<abp-modal centered="true" size="Large" static="true">
    <abp-modal-header title="Customer Payment"></abp-modal-header>
    <abp-modal-body>
        <div class="row">
            <div class="col-12">
                <div id="PaymentLookupGrid"></div>
            </div>
        </div>
        <input type="hidden" id="hfCustomerInvoiceId" asp-for="CustomerInvoiceId" />
    </abp-modal-body>
    <abp-modal-footer>
        <button class="btn-secondary btn" data-dismiss="modal" type="button">Close</button>
    </abp-modal-footer>
</abp-modal>
